<div id="setMasterFilterButton" style="float: left; margin-left: 150px;"></div>
<div id="clearMasterFilterButton" style="float: left; margin-left: 150px;"></div>
<div style="position: absolute; left: 0; right: 0; top:50px; bottom:0;">
    @Html.DevExpress().Dashboard(settings =>
{
    settings.Name = "webDashboard";
    settings.WorkingMode = DevExpress.DashboardWeb.WorkingMode.Viewer;
    settings.ClientSideEvents.Init = "function() { initializeFilters(); }";
    }).GetHtml()
</div>
